<div id="<%= dom_id publication %>">
  <p>
    <strong>User:</strong>
    <%= publication.User_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= publication.body %>
  </p>

</div>
